/* Responsive CSS */

@media (max-width: 1199px) {
  .container {
    max-width: 100%;
    --bs-gutter: 30px;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 12px 0;
  }
  .header-backdrop,
  .header-close-btn,
  .header-hamburger-btn {
    display: block;
  }
  .header-hamburger-btn {
    height: 34px;
    width: 40px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
  }
  .header-hamburger-btn span {
    display: block;
    height: 2px;
    width: 24px;
    background-color: var(--black-90);
    position: relative;
    margin: auto;
  }
  .header-hamburger-btn span::before,
  .header-hamburger-btn span::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black-90);
  }
  .header-hamburger-btn span::before {
    top: -7px;
  }
  .header-hamburger-btn span::after {
    top: 7px;
  }
  .header-close-btn {
    height: 40px;
    width: 40px;
    background-color: var(--main-color);
    position: absolute;
    left: 15px;
    top: 15px;
    color: var(--WHITE);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
  }
  .header-menu {
    position: fixed;
    width: 300px;
    height: 100vh;
    top: 0;
    right: -300px;
    z-index: 1000;
    padding: 70px 0 50px;
    transition: all 0.5s ease;
    background-color: var(--white);
    box-shadow: var(--shadow);
    overflow-y: auto;
  }
  .header-menu.open {
    right: 0;
    visibility: visible;
  }
  .header .menu-item {
    display: block;
    margin: 0;
  }
  .header .menu-item > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
    border-bottom: 1px solid var(--border-color-1);
  }
  .header .menu-item:first-child > a {
    border-top: 1px solid var(--border-color-1);
  }
  .header .menu-item.active > a i {
    transform: rotate(-180deg);
  }
  .header .sub-menu {
    position: relative;
    width: 100%;
    opacity: 1;
    visibility: visible;
    box-shadow: none;
    transform: translateY(0);
    top: auto;
    padding: 0;
    border-radius: 0;
    max-height: 0;
    overflow: hidden;
  }
  .header .sub-menu-item a {
    padding: 12px 45px;
    border-bottom: 1px solid var(--border-color-1);
  }
  .header-backdrop {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s ease;
    visibility: hidden;
    background-color: var(--white);
  }
  .header-backdrop.active {
    visibility: visible;
    opacity: 0.8;
  }
  .banner-text {
    margin-right: -10%;
  }
  .banner-text h1 {
    font-size: 35px;
  }
  .register-section {
    justify-content: left;
  }
  .register-section .steps-heading-h3 {
    text-align: left;
  }
  .register-section .steps-p {
    text-align: left;
  }
  .register-section .col-5 {
    margin-left: 5px;
  }
}

@media (max-width: 767px) {
  body {
    max-width: 767px;
    min-width: 479px;
  }
  .main-wrapper {
    max-width: 767px;
    min-width: 479px;
  }
  .container {
    --bs-gutter-x: 15px;
  }
  .box {
    padding: 20px 15px;
  }
  .header-logo {
    width: 200px;
  }
  button.header-hamburger-btn {
    margin-right: 0;
}
  .banner-section {
    max-height: 90vh;
    background-position: 60%;
  }
  .banner-section .banner-text {
    margin-top: -100px;
    margin-left: 10px;
  }
  .banner-section .banner-text h1 {
    font-size: 2.2rem;
    width: 300px;
  }
  .banner-section .banner-text p {
    width: 350px;
  }
  .section-title .title,
  h3,
  .banner-text h2 {
    font-size: 18px;
  }
  .form-title,
  .section-title .sub-title {
    font-size: 1.7rem;
  }
  .section-title .title {
    font-size: 1.7rem;
    line-height: 2.2rem;
  }
  .relation-section {
    margin: auto;
  }
  .relation-item {
    display: flex;
    justify-content: center;
  }
  .relation-section img {
    width: 100px;
    margin-top: -10px;
    margin-bottom: -10px;
  }
  .register-section {
    justify-content: center;
  }
  .register-section .steps-heading-h3 {
    text-align: center;
  }
  .register-section .steps-p {
    text-align: center;
  }
  .register-section .change-position {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  .register-section .change-position img {
    margin-left: 130px;
  }
  .register-section .col-5 {
    margin-left: 5px;
  }
  .schedule-section img {
    display: flex;
    margin: auto;
  }
  .testimonial-section {
    text-align: center;
  }
  .payment-section i {
    font-size: 70px;
  }
  .payment-flow-section {
    justify-content: center;
  }
  .payment-flow-section .steps-heading-h3 {
    text-align: center;
  }
  .payment-flow-section .steps-p {
    text-align: center;
  }
  .payment-flow-section .change-position {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  .payment-flow-section .change-position img {
    margin-left: 130px;
  }
  .payment-flow-section .col-5 {
    margin-left: 5px;
  }
  .location-section .maps {
    display: flex;
    text-align: center;
  }
  .support-section {
    margin: auto;
  }
  .support-item {
    display: flex;
    justify-content: center;
  }
  .support-section img {
    width: 120px;
    margin-top: -10px;
    margin-bottom: -10px;
  }
}

@media (max-width: 479px) {
  .section-title .title {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .header-logo {
    width: 200px;
  }
  
  .banner-section {
    max-height: 100vh;
    background-position: 50%;
  }
  .banner-section .banner-text {
    margin-top: -100px;
    margin-left: 10px;
  }
  .banner-section .banner-text h1 {
    font-size: 2rem;
    width: 250px;
  }
  .banner-section .banner-text p {
    width: 210px;
  }
  .relation-section img {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .relation-item {
    margin-top: -12%;
    margin-bottom: -12%;
    margin-left: 20px;
    margin-right: 10px;
  }
  .reason-section .card {
    margin: 0.5rem;
  }
  .reason-section i {
    font-size: 68px;
  }
  .facility-section {
    font-size: 14px;
    color: var(--black-90);
    display: flex;
    align-content: center;
  }
  .facility-section i {
    font-size: 30px;
  }
  .facility-section .card {
    background-color: transparent;
    border: 0px;
  }
  .certificate-section .icon {
    margin-right: -5px;
  }
  .register-section .change-position {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  .register-section .change-position img {
    margin-left: 70px;
  }
  .register-section .steps-number {
    color: var(--white);
    font-size: 20px;
    font-weight: 900;
  }
  .register-section img {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
  }
  .register-section .col-5 {
    margin-left: 15px;
  }
  .register-section .col-1 {
    margin: auto;
  }
  .register-section .steps-heading-h3 {
    text-align: center;
  }
  .schedule-section {
    text-align: center;
  }
  .schedule-col img {
    margin-top: -15px;
    width: 225px;
  }
  .testimonial-section {
    text-align: center;
  }
  .payment-flow-section .change-position {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  .payment-flow-section .change-position img {
    margin-left: 70px;
  }
  .payment-flow-section .col-5 {
    margin-left: 15px;
  }
  .payment-flow-section .col-1 {
    margin: auto;
  }
  .payment-flow-section .text-left {
    margin-right: 0px;
  }
  .payment-flow-section .steps-number-circle {
    width: 58px;
    height: 58px;
  }
  .payment-flow-section .steps-number {
    color: var(--white);
    font-size: 20px;
    font-weight: 900;
  }
  .gallery-section img {
    margin-bottom: 10px;
  }
  .apply-section .apply-title {
    font-size: 20px;
  }
  .location-section i {
    color: var(--black-90);
  }
  .location-section .maps {
    margin-top: 20px;
  }
  .footer-item {
    text-align: center;
  }
  .footer-item img {
    display: block;
    margin: 0 60% 0 60%;
  }

  .header-logo a {
    font-size: 22px;
  }
  .modal-dialog {
    margin: 8px 15px;
  }
}
